@keyframes blink {
  0% { opacity: 1; }
  25% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@-webkit-keyframes blink {
  0% { opacity: 1; }
  25% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@-ms-keyframes blink {
  0% { opacity: 1; }
  25% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
@-moz-keyframes blink {
  0% { opacity: 1; }
  25% { opacity: 0; }
  50% { opacity: 0; }
  100% { opacity: 1; }
}
.prompt, .command {
  color: #0c0;
  text-shadow: 0 0 3px rgba(0,100,0,50);
}
.cursor {
  background: #0c0;
  animation: blink 1s linear infinite;
  -webkit-animation: blink 1s infinite linear;
  -ms-animation: blink 1s infinite linear;
  -moz-animation: blink 1s infinite linear;
  -webkit-box-shadow: 0 0 5px rgba(0,100,0,50);
  -moz-box-shadow: 0 0 5px rgba(0,100,0,50);
  -ms-box-shadow: 0 0 5px rgba(0,100,0,50);
  -o-box-shadow: 0 0 5px rgba(0,100,0,50);
  box-shadow: 0 0 5px rgba(0,100,0,50);
}
* {
 color: #0c0;
 font-family: Consolas, "Courier New", Courier, monospace;
 font-size: 13px;
 font-weight: normal;
}

.command div, .cmd {
  font-weight: bold;
  padding:3px;
}

.cmd span {
  font-weight: bold;
}

.entry .id{
  width: 50px
}
.highlight1{
  color:white;
}

.highlight2{
  color:#F92672;
}

.highlight3{
  color:#AE81FF;
}

.highlight4{
  color:#66D9EF;
}

.highlight5{
  color:#3E7ED9;
}

.blurred {
  text-shadow: 0px 0px 6px rgb(0, 204, 0);
  color: transparent;
}

.blurred .highlight1, .blurred .highlight2, .blurred .highlight3, .blurred .highlight4, .blurred .highlight5 {
  color: transparent;
}

.blurred:hover{
  text-shadow: 0px 0px 0px rgb(0, 0, 0);
  color: #0c0;
}


.blurred:hover .highlight1, .blurred:hover .highlight2, .blurred:hover .highlight3, .blurred:hover .highlight4, .blurred:hover .highlight5 {
  color: #0c0;
}

.entry .title {
  background-color: rgb(51, 51, 51);
  padding:0px;
  padding-left:6px;
  padding-right:6px;
 font-weight: bold;
}

.hidden{
  visibility: hidden;
  color: black;
}