
.flex-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    height: 100%;
    text-align: center;
}

h1 {
    font-size: 50px;
}

.pill-button {
    font-size: 26px;
    border-radius: 30px;
    padding: 4px 24px;
}

.start-button {
    width: 50%;

    mat-icon {
        width: 30px;
    }

    .btn-layout {
        display: inline-flex;
        justify-content: space-between;
        width: 100%;
    }
}

.flex-action {
    height: 20vh;
    width: 100%;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 80%;
    flex-grow: 1;
    max-height: 500px;
}

.basic-toggle {
    padding-top: 6px;
    text-align: start;
}

.basic-fields {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.overlay {
    position: absolute;
    background-color: #00000044;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;

    mat-spinner {
        margin: auto;
        margin-top: calc(50vh - 50px);
    }
}