.highlight1{
  background-color: yellow;
}

.highlight2{
  background-color:#F92672;
}

.highlight3{
  background-color:#AE81FF;
}

.highlight4{
  background-color:#66D9EF;
}

.highlight5{
  background-color:#3E7ED9;
}

#passwordInput, .pwd{
    font-family: Consolas;
    letter-spacing: 1px;
}

.vaultageEntryLabel{
    width:100px;
    display:inline-block;
}

.list li {
    border: 1px #0084e7 solid;
    margin-bottom: 1px;
}

#searchResults .padded-list {
    background-color:#EEE;
}

#dbSearchField {
    margin-bottom: 10px;
}

#noKeyword {
    border: 0px solid #CCC;
}