.flex-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

h1 {
    text-align: center;
    display: block;
    margin: 0;
    padding-top: 10vh;
}

.screen {
    height: 50px;
}

.actions-container {
    margin-bottom: 5vh;
    width: 90%;
    max-width: 600px;
    color: #fafafa;

    a {
        cursor: pointer;
    }
}

.keypad-container {
    max-width: 45vh;
    width: 100vw;
    position: relative;

    // Css hack to preserve the aspect ratio
    &:after {
        content: "";
        display: block;
        padding-bottom: 120%;
    }
}

.keypad {
    position: absolute;
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}

.keynum {
    width: 33%;
    text-align: center;
    position: relative;
    
    button {
        font-size: 36px;
        font-weight: 400;
        // Size the buttons based on vh because the keypad is sized based on vh
        // so the whole thing keeps nice proportions at all screen sizes
        width: 10vh;
        height: 10vh;
        border-radius: 6vh;
    }
}

.hidden-digit {
    display: inline-block;
    font-size: 40px;
    padding: 0 5px;
    width: 10px;
    position: relative;

    &>* {
        position: absolute;
        margin: auto;
    }
}

.error {
    color: red;
}
