* {
    box-sizing: border-box;
}

html, body {
    background-color: #00060e;
    color: #0c0;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-size: 13px;
    line-height: 20px;
}

.frame {
    padding: 20px;
    margin: auto;
    margin-top: 120px;
    width: max-content;
}

#login-frame {
    border: 1px #0c0 solid;
    border-radius: 10px;
}

#login-frame h1 {
    margin-top: 0;
}

#login-frame label {
    width: 100px;
    display: inline-block;
}

#login-frame .spacer {
    height: 20px;
}

input {
    background-color: transparent;
    border: none;
    border-bottom: 1px #0c0 solid;
    color: #0c0;
    outline: none;
    margin-top: 2px;
}

input:focus {
    color: #0e0;
    text-shadow: 0 0 2px rgba(0,100,0,50);
}

.btn {
    color: #0c0;
    border: 1px #0c0 solid;
    cursor: pointer;
    display: block;
}

.btn:hover {
    color: #0e0;
    text-shadow: 0 0 2px rgba(0,100,0,50);
    box-shadow: 0px 0px 1px #0e0;
}

.btn-large {
    padding: 5px 12px;
    font-size: 120%;
}

.center {
    margin: auto;
}

.hidden {
    display: none;
}

.picker-entry {
    border: 1px #0c0 solid;
    border-radius: 5px;
    padding: 10px;
    margin: 4px;
    padding-bottom: 3px;
    cursor: pointer;
}

.picker-entry:focus {
    outline: none;
    background-color: #080;
    color: #00060e;
    border-color: #00060e;
}

.picker-entry:hover {
    text-shadow: 0 0 2px rgba(0, 100, 0, 1);
    box-shadow: 0px 0px 1px 1px #0e0 inset;
}

.picker-entry * {
    display: inline-block;
    overflow: hidden;
}

.picker-entry .title {
    margin: 0;
    display: block;
}

.picker-entry .user {
    text-shadow: 0 0 2px rgba(0,100,0,50);
    font-weight: bold;
}

.picker-entry .url {
    max-width: 150px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}