:host {
    background-color: #0f384f;
    position: absolute;
    width: 100vw;
    height: 100vh;
}

.main-search-container {
    padding-top: 25vh;
    width: 100%;
    position: relative;
}

.main-search-bar {
    background-color: #3f50b5;
    width: 100%;
    height: 40px;
    top: 0;
    position: absolute;
    opacity: 0;
    z-index: 100;

    transition-property: opacity;
    transition-duration: 200ms;

    &.active {
        opacity: 1;
    }

    mat-icon {
        font-size: 20px;
        padding: 10px;
    }
}

.main-search-pill {
    // background-color: #23475c;
    border-radius: 20px;
    padding: 2px 0;

    width: 60vw;
    max-width: 400px;
    margin: auto;
    position: relative;
    transition: width 200ms ease-out;

    z-index: 110;

    input {
        background-color: transparent;
        border: none;
        outline: none;
        border-bottom: 1px #4a6573 solid;
        padding: 5px;
        padding-bottom: 0;
        margin-bottom: 5px;
        width: 100%;
        box-sizing: border-box;

        color: #f0f0f0;
        font-size: 20px;
        transition: font-size 200ms ease-out;
    }

    &.active {

        width: auto;
        margin-left: 40px;

        input {
            padding-top: 12px;
            font-size: 16px;
        }
    }

    .affix {
        display: inline-block;
        margin-left: -30px;
        font-size: 20px;
        pointer-events: none;
        width: initial;
        opacity: 0.8;

        color: #f0f0f0;
        font-size: 20px;

        &.interactive {
            pointer-events: initial;
            cursor: pointer;
        }
    }
}


.flex-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    overflow: hidden;
}

.btn-layout {
    display: inline-flex;
    justify-content: space-between;
    width: 100%;

    mat-icon {
        padding-right: 10px;
    }
}

.bottom-actions {
    padding-bottom: 10vh;
}

.simple-link {
    color: #fafafa;
    opacity: 0.8;
    text-decoration: none;
}

.search-results {
    position: absolute;
    width: 100%;
    top: 40px;
    height: calc(100% - 40px);
    z-index: 50;
}