.flex-container {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

h1 {
    text-align: center;
    display: block;
    margin: 0;
    padding-top: 10vh;
}

.screen {
    height: 50px;
}

.keypad-container {
    max-width: 45vh;
    width: 100vw;
    margin-bottom: 5vh;
    position: relative;

    &:after {
        content: "";
        display: block;
        padding-bottom: 100%;
    }
}

.keypad {
    position: absolute;
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    justify-content: space-around;
    align-content: space-around;
    align-items: center;
}

.keynum {
    width: 33%;
    text-align: center;
    position: relative;

    button {
        // position: absolute;
        // top: calc(50% - 30px);
        // left: calc(50% - 30px);
        padding: 12px 0;
        border-radius: 30px;
    }
}

.hidden-digit {
    display: inline-block;
    font-size: 35px;
    padding: 0 5px;
    width: 10px;
    position: relative;

    &>* {
        position: absolute;
        margin: auto;
    }
}

.error {
    color: red;
}
